<head>
  <meta charset="utf-8">
  <title>Success Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color:#dcdcdc">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-4 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-body">
            <h5 class="card-title text-center" style="color:green"><b>Register Success..!</b></h5>

            <a href="/login">
              <button class="btn btn-primary col text-center" type="button" name="button">Click Here To Login</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
